{% extends "base.html" %}
{% block start %}



<div class="container mt-5">
    
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Agregar casa</h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">direccion</label>
            <input name="direccion" required type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">estado</label>
            <input name="estado" required type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">propietario</label>
            <input name="propietario" required type="text"  class="form-control" id="exampleInputPassword1">
        </div>  

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Imagenes</label>
            <input name="fotoCasa" type="file" class="form-control" id="exampleInputPassword1">
          </div>
        <button type="submit" class="btn btn-success">Agregar esta casa</button>
    </form>
    <form>
        <div class="mt-5">
            <div class="mx-auto col-6">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Buscar por direccion</label>
                    <input name="Buscar"   type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <button type = "submit" class = "btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
<!--
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Direccion</th>
            <th scope="col">estado</th>
            <th scope="col">propietario</th>
            <th scope="col">imagen</th>
          </tr>
        </thead>
        <tbody>
          {%for registrocasas in registrocasas%}  
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{registrocasas.direccion}}</td>
            <td>{{registrocasas.estado}}</td>
            <td>{{registrocasas.propietario}}</td>
            <td>
                <img src="/media/{{registrocasas.fotoCasa}}" style="height:200px">
            </td>
            <td>
                <a href="/eliminar_Casa/{{registrocasas.id}}/" class="btn btn-danger m-2">Eliminar</a>
                <a href="/actualizar_Casa/{{registrocasas.id}}/" class="btn btn-success">Actualizar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table> -->
</div>

{% endblock %}