{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Registrarse</h2>

        
        <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombres</label>
              <input type="text" class="form-control" name = "first_name" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Apellidos</label>
              <input type="text" class="form-control" name = "last_name" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre de Usuario</label>
              <input type="text" class="form-control" name = "username"  id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
              <input type="email" class="form-control" name = "email" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name = "password"  id="exampleInputPassword1">
            </div>
            <div class="alert alert-info" role="alert">
              {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>
          
            <p> La cuenta ya existe <a href="/inicioSesion/" class="linkprod" >Inicia Sesion</a></p>
    <!--        <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>  -->
            <button type="submit" class="btn btn-primary">Registrarme</button>
    </form>



</div>

{% endblock %}