@import "tailwindcss";



/* Lista horizontal y responsiva */
.horizontal-list {
  display: flex;
  /* Coloca los elementos en línea */
  flex-wrap: wrap;
  /* Permite que los elementos pasen a una nueva línea si es necesario */
  list-style-type: none;
  /* Elimina los puntos de la lista */
  padding: 0;
  /* Quita el relleno del contenedor */
  margin: 0;
  /* Quita el margen del contenedor */
  justify-content: center;
  /* Centra los elementos horizontalmente */
  gap: 10px;
  /* Espacio entre los elementos */
}

/* Elementos de la lista */
.horizontal-list li {
  margin: 5px 10px;
  /* Espacio interno entre los elementos */
}

/* Estilo de los enlaces */
.horizontal-list li a {
  text-decoration: none;
  /* Elimina el subrayado */
  color: #000;
  /* Color del texto */
  padding: 5px 10px;
  /* Espaciado interno del enlace */
  border-radius: 5px;
  /* Bordes redondeados */
  transition: all 0.3s ease;
  /* Suaviza la animación */
}

.horizontal-list li a:hover {
  background-color: #007BFF;
  /* Fondo azul al pasar el ratón */
  color: #fff;
  /* Texto blanco */
}

@media (max-width: 768px) {
  .horizontal-list {
    flex-direction: column;
    /* Cambia a disposición vertical */
    align-items: center;
    /* Centra los elementos verticalmente */
  }
}

.link-login,
.logout {
  margin-right: 10px;
  /* Espaciado entre el Login y el Registrarse */
  color: blue;
}

.link-register {
  margin-right: 10px;
  color: green;
}

.link-red {
  color: red;
  font-weight: bold;
}

.link-green {
  color: green;

}

.contratos-tabla,
.otrosi-tabla {
  width: 100%;
  border-collapse: collapse;
}

.contratos-tabla th,
.contratos-tabla td,
.otrosi-tabla th,
.otrosi-tabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.contratos-tabla th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.seleccionar-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.seleccionar-btn:hover {
  background-color: #0056b3;
}